:root {
  --color: #18333E;
  --serif: "Baloo 2", serif;
}

body {
  width: 1356px;
  height: 100%;
  margin: auto;
  background-color: #F2F8FD;
}

.wrapper {
  height: 100%;
  margin: 25px;
}

.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-template-rows: 66px 1fr;
  gap: 42px;
  grid-template-areas:
    'header header'
    'sidebar  content'
}

.header {
  grid-area: header;
}

.aside {
  grid-area: sidebar;
}

.main {
  grid-area: content;
}


.header {
  height: 66px;
  display: flex;
  align-items: center;
}

.header img.logo {
  width: 62px;
  height: 63px;
}

.header form {
  position: relative;
  margin-left: 123px;
  margin-right: 25px;
}

.header form::before {
  content: "";
  background-image: url(img/search-normal.png);
  background-repeat: no-repeat;
  background-position: left;
  pointer-events: none;
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 15px;
  left: 15px;
}

.header input {
  width: 634px;
  height: 53px;
  background-color: #E9F1FA;
  border-radius: 26.5px;
  border: none;
  padding-left: 55px;
}

.header img.filter {
  margin-right: 84px;
}

.header img.location {
  margin-right: 14px;
}

.header h5 {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--color);
  margin-right: 59px;
}

.header img.bing {
  padding: 15px 16px;
  border: 1px solid #B4BCC4;
  border-radius: 50%;
}

.notification {
  position: relative;
  margin-right: 31px;
}

.Circle {
  width: 9px;
  height: 9px;
  border: 1px solid #FF7F5C;
  border-radius: 50%;
  background-color: #FF7F5C;
  position: absolute;
  top: -5px;
  right: -5px;
}

.sidebar {
  margin-top: 49px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.sidebar .row {
  margin-bottom: 20px;
}

.sidebar .row a {
  display: flex;
  align-items: center;
}

.sidebar a img {
  margin-right: 14px;
}

.sidebar p {
  font-family: var(--serif);
  color: var(--color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}

.sidebar .logout {
  padding-top: 20px;
  padding-bottom: 20px;
}

.sidebar .logout a {
  display: flex;
  align-items: center;
}

.sidebar .logout img {
  padding-right: 18px;
}


.main {
  background-color: lightblue;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 713px 1fr;
  grid-template-rows: 538px 1fr 1fr;
  gap: 42px;
  grid-template-areas:
    'discover-world features-place'
    'event-timeline place-brick-list'
    'tours-bar place-brick-list'
}

.discover-world {
  grid-area: discover-world;
}

.features-place {
  grid-area: features-place;
}

.event-timeline {
  grid-area: event-timeline;
}

.place-brick-list {
  grid-area: place-brick-list;
}

.tours-bar {
  grid-area: tours-bar;
}

.main .discover-world {
  background-color: greenyellow;
}

.main .event-timeline {
  height: 201px;
  background-color: green;
}

.main .tours-bar {
  height: 119px;
  background-color: pink;
}

.main .features-place {
  background-color: yellow;
}

.main .place-brick-list {
  height: 360px;
  background-color: burlywood;
}

@media (max-width: 944px) {
  .main-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 539px 201px 518px 119px;
    gap: 42px;
    grid-template-areas:
      'discover-world discover-world'
      'event-timeline event-timeline'
      'features-place place-brick-list'
      'tours-bar tours-bar'
  }
}

@media (max-width: 698px) {
  .main-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 42px;
    grid-template-areas:
      'discover-world'
      'event-timeline'
      'features-place'
      'place-brick-list'
      'tours-bar'
  }
}