:root {
  --color: #18333E;
  --serif: "Baloo 2", serif;
}

body {
  width: 1356px;
  height: 100%;
  margin: auto;
  background-color: #F2F8FD;
}

.wrapper {
  height: 100%;
  margin: 25px;
}

.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-template-rows: 66px 1fr;
  gap: 42px;
  grid-template-areas:
    'header header'
    'sidebar  content'
}

.header {
  grid-area: header;
}

.aside {
  grid-area: sidebar;
}

.discover-world {
  grid-area: discover-world;
}

.features-place {
  grid-area: features-place;
}

.event-timeline {
  grid-area: event-timeline;
}

.place-brick-list {
  grid-area: place-brick-list;
}

.tours-bar {
  grid-area: tours-bar;
}

.main {
  grid-area: content;
}

.header {
  height: 66px;
  display: flex;
  align-items: center;
}

.header .logo {
  display: flex;
}

.header img.logo {
  width: 62px;
  height: 63px;
}

.header .search-bar {
  display: flex;
}

.search-bar input::placeholder {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--color);
}

.header form {
  position: relative;
  margin-left: 123px;
  margin-right: 25px;
}

.header form::before {
  content: "";
  background-image: url(img/search-normal.png);
  background-repeat: no-repeat;
  background-position: left;
  pointer-events: none;
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 15px;
  left: 15px;
}

.header input {
  width: 634px;
  height: 53px;
  background-color: #E9F1FA;
  border-radius: 26.5px;
  border: none;
  padding-left: 55px;
}

.header img.filter {
  margin-right: 84px;
}

.header .user-bar {
  display: flex;
  align-items: center;
  justify-content: end;
}

.header img.location {
  margin-right: 14px;
}

.header h5 {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--color);
  margin-right: 59px;
}

.header img.bing {
  padding: 15px 16px;
  border: 1px solid #B4BCC4;
  border-radius: 50%;
}

.notification {
  position: relative;
  margin-right: 31px;
}

.Circle {
  width: 9px;
  height: 9px;
  border: 1px solid #FF7F5C;
  border-radius: 50%;
  background-color: #FF7F5C;
  position: absolute;
  top: -5px;
  right: -5px;
}

.sidebar {
  position: fixed;
  top: 131px;
  height: calc(100vh - 173px);
  padding-top: 3.7vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.sidebar .row {
  margin: 8px 0;
}

.sidebar .row a {
  display: flex;
  align-items: center;
}

.sidebar a img {
  margin-right: 14px;
}

.sidebar p {
  font-family: var(--serif);
  color: var(--color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}

.sidebar .logout {
  padding-top: 4.5vh;
  padding-bottom: 3.9vh;
}

.sidebar .logout a {
  display: flex;
  align-items: center;
}

.sidebar .logout img {
  padding-right: 18px;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 713px 1fr;
  grid-template-rows: 538px 1fr 1fr;
  gap: 42px;
  grid-template-areas:
    'discover-world features-place'
    'event-timeline place-brick-list'
    'tours-bar place-brick-list'
}

.discover-world .column h2 {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
  color: var(--color);
  margin: 0;
  padding-bottom: 17px;
}

.discover-world .choice {
  display: flex;
  flex-direction: row;
  gap: 57px;
}

.discover-world .choice p {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--color);
  margin: 0;
  opacity: 0.7;
}

.discover-world .games {
  display: flex;
  gap: 26px;
}

.discover-world .game {
  position: relative;
  padding-top: 37px;
}

.discover-world img.like {
  padding: 10px 11px 10px 11px;
  background-color: rgb(250, 250, 250, 0.6);
  border-radius: 50%;
  position: absolute;
  top: 52px;
  right: 21px;
}

.discover-world .blur {
  filter: blur(17px);
  position: absolute;
  top: 33px;
  right: 0;
  z-index: -1;
}

.discover-world .game h3 {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 35px;
  margin: 0;
  color: var(--color);
  padding-top: 15px;
  padding-bottom: 7px;
}

.discover-world .row {
  display: flex;
  align-items: center;
}

.discover-world .row p {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--color);
  margin: 0;
  margin-right: 20px;
  margin-left: 10px;
  opacity: 0.8;
}

.main .tours-bar {
  height: 119px;
}

.tours-bar .tours {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tours-bar .tour {
  display: flex;
  align-items: center;
  width: 390px;
  padding: 11px 23px;
  background-color: var(--color);
  border-radius: 25px;
}

.tours-bar .blur-3 {
  display: none;
}

.tours-bar .names {
  padding-left: 25px;
  padding-right: 68px;
}

.tours-bar .names p {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  margin: 0;
  color: #FFFFFF;
}

.tours-bar .star {
  display: flex;
  align-items: center;
}

.tours-bar .star img {
  margin-right: 6px;
}

.tours-bar .tour h5 {
  padding: 18px 10px;
  background-color: #F9D44A;
  border-radius: 13.5px;
}

.tours-bar .night-forest {
  position: relative;
}

.tours-bar .blur-1 {
  position: absolute;
  border-radius: 17px;
  filter: blur(17px);
  top: 0;
  right: 0;
  z-index: -1;
}

.tours-bar img.img-tour {
  border-radius: 17px;
}

.tours-bar .flat-adventures {
  position: relative;
}

.tours-bar .blur-2 {
  position: absolute;
  border-radius: 17px;
  filter: blur(17px);
  top: 0;
  right: 0;
  z-index: -1;
}

.event-timeline {
  height: 201px;
}

.event-timeline .event {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
  margin-top: 2px;
}

.event-timeline .event h3 {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
  color: var(--color);
  margin: 0;
}

.event-timeline .event p {
  margin: 0;
  font-family: var(--serif);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--color);
  padding: 12px 31px 10px;
  border: 1px solid #B4BCC4;
  border-radius: 24px;
}

.event-timeline .dates {
  display: flex;
  justify-content: space-between;
}

.event-timeline .date {
  padding: 18px 21px 17px 21px;
}

.event-timeline .date:hover {
  background-color: var(--color);
  border-radius: 32px;
}

.event-timeline .date p {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--color);
  margin: 0;
  opacity: 0.7;
  padding-bottom: 10px;
}

.event-timeline .date:hover p {
  color: white;
  opacity: 1;
}

.event-timeline .date h4 {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 40px;
  color: var(--color);
  margin: 0;
}

.event-timeline .date:hover h4 {
  color: white;
}

.features-place .images {
  position: relative;
}

.features-place .images img.heard {
  padding: 14px;
  background-color: rgb(250, 250, 250, 0.6);
  border-radius: 50%;
  position: absolute;
  top: 21px;
  right: 28px;
}

.features-place .images .blur {
  filter: blur(17px);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.features-place .images img.ribbon {
  padding: 12px 20px 10px 17px;
  background-color: rgb(250, 250, 250, 0.6);
  border-radius: 15px;
  position: absolute;
  top: 197px;
  right: 22px;
}

.features-place .names {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features-place .names h3 {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
  color: var(--color);
  margin: 0;
}

.features-place h4 {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--color);
  max-width: 337px;
  opacity: 0.7;
}

.features-place .book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.features-place .price p:first-child {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--color);
  margin: 0;
}

.features-place .price p:last-child {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  color: var(--color);
  margin: 0;
}

.features-place button {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
  padding: 16px 40px 17px 39px;
  background-color: var(--color);
  border-radius: 30.5px;
}

.main .place-brick-list {
  height: 360px;
}

.place-brick-list .travel {
  display: flex;
  align-items: center;
  padding-bottom: 42px;
  position: relative;
}

.place-brick-list .travel:last-child {
  display: none;
}

.place-brick-list .img-travel {
  border-radius: 25px;
  margin-right: 18px;
}

.place-brick-list .blur {
  position: absolute;
  top: 0;
  border-radius: 25px;
  filter: blur(17px);
  z-index: -1;
}

.place-brick-list .travel h3 {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 35px;
  color: var(--color);
  margin: 0;
  padding-bottom: 4px;
}

.place-brick-list .location {
  display: flex;
  align-items: center;
}

.place-brick-list .location p {
  padding-left: 7px;
  font-family: var(--serif);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--color);
  opacity: 0.7;
  margin: 0;
}

.place-brick-list .heard {
  padding: 15px;
  border-radius: 100%;
  background: #E9F1FA;
  backdrop-filter: blur(2px);
  margin-left: 53px;
}